# Copyright 2023-2024, Helmholtz-Zentrum Hereon
# SPDX-License-Identifier: CC0-1.0

# local IDE metadata files
.idea

# local files from running pydidas
.pylint.d
.pylint.d/*
__pycache__
*.pyc
__*
!__init__.py

# local build files
pydidas/sphinx
*.html
!versions/**/*.html
dist/*
build/*
*egg*
.coverage
htmlcov
coverage_html_report
.ruff_cache/*
pydidas/docs/src/dev_guide/dev_guide_list_of_generic_params.rst

# logging
*.log

### macOS ###
# General
.DS_Store