# Copyright 2021-, Helmholtz-Zentrum Hereon
# SPDX-License-Identifier: CC0-1.0

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git

recursive-include pydidas *.py
recursive-include pydidas_plugins *.py
recursive-include pydidas_scripts *.py
recursive-include pydidas_qtcore *.py
recursive-include pydidas/docs *.png
recursive-include pydidas/docs *.rst
recursive-include pydidas/resources *.png
recursive-include pydidas/resources *.svg

recursive-exclude tests *
recursive-exclude pydidas/docs/build *

include MANIFEST.in
include README.rst
include LICENSE.md
include pyproject.toml
include CHANGELOG.rst
include pydidas/docs/make.bat
include pydidas/docs/Makefile
