# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git

recursive-include pydidas *.py
recursive-include plugins/*.py
recursive-include pydidas/docs *.png
recursive-include pydidas/docs *.rst

recursive-exclude tests *
recursive-exclude pydidas/docs/build *

include setup.cfg
include MANIFEST.in
include README.rst
include LICENSE.md
include requirements.txt
include pyproject.toml
include change.log
include pydidas/core/icons/*.svg
include pydidas/docs/make.bat
include pydidas/docs/Makefile
