wheel
build
setuptools
virtualenv
meson-python
cython
PyQt5>=5.15.7
pyFAI==0.21.3
scikit-image>=0.18.3
qtawesome>=1.0.3
sphinx>=4.4.0
sphinx_rtd_theme>=1.0.0
pyopencl>=2022.1
qtpy>=2.1.0
natsort>=8.2.0
hdf5plugin>=4.0.1
pyyaml>=6.0