# Copyright 2024, Helmholtz-Zentrum Hereon
# SPDX-License-Identifier: CC0-1.0

black>=24.4.0
flake8>=7.0.0
ipython>=8.20
isort>=5.13.2
GitPython>=3.1.43
pip-tools>=7.4.1
reuse>=4.0.3
ruff>=0.9.1
pytest>=8.3.0
