# Copyright 2024, Helmholtz-Zentrum Hereon
# SPDX-License-Identifier: CC0-1.0

pyFAI==2024.5.0
scikit-image>=0.22.0
qtawesome>=1.3
sphinx>=7.2.0
pydata_sphinx_theme>=0.15.4
sphinx-copybutton>=0.5.2
sphinx-design>=0.6.0
pyopencl>=2024.1
qtpy>=2.4.0
hdf5plugin>=4.4.0
pyyaml>=6.0
requests>=2.31.0
PyQt5==5.15.10
build>=1.0.3
setuptools>69.0.0