# This file is part of pydidas.
#
# Copyright 2024, Helmholtz-Zentrum Hereon
# SPDX-License-Identifier: CC-BY-4.0
#
# This workflow will create the github pages documentation for pydidas
# which is accessible at https://hereon-gems.github.io/pydidas/

name: Github-pages documentation

on:
  push:
    branches: [ "master" ]

jobs:
  create_docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install sphinx sphinx_rtd_theme myst_parser
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Sphinx build
      run: |
        sphinx-build pydidas/docs/source _site
    - name: Set permissions
      run: |
        chmod -c -R +rX "_site/" | while read line; do
          echo "::warning title=Invalid file permissions automatically fixed::$line"
        done
    - name: Upload Pages artifact
      uses: actions/upload-pages-artifact@v2

  deploy_docs:
    needs: create_docs

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: _site

    runs-on: ubuntu-latest
    steps:
    - name: Deploy to Github Pages
      id: deployment
      uses: actions/deploy-pages@v3
