# This file is part of pydidas.
#
# Copyright 2024, Helmholtz-Zentrum Hereon
# SPDX-License-Identifier: CC-BY-4.0
#
# This workflow will run the unittests for pydidas with python 3.11 and 3.12

name: Run tests

on:
  pull_request:
    branches: [ "master" ]

jobs:
  unittests:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12"]
        env:
          - QT_API: pyqt5
          - QT_API: pyside6

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .
        python -m pip install pytest
    - name: Run fast tests with pytest
      env:
        QT_API: ${{ matrix.env.QT_API }}
      run: |
        export QT_QPA_PLATFORM=offscreen
        python -m pytest
    - name: Run slow tests with pytest
      env:
        QT_API: ${{ matrix.env.QT_API }}
      run: |
        export QT_QPA_PLATFORM=offscreen
        python -m pytest -m slow
