# This file is part of pydidas.
#
# Copyright 2024, Helmholtz-Zentrum Hereon
# SPDX-License-Identifier: CC-BY-4.0
#
# This workflow will run the unittests for pydidas with python 3.11 and 3.12

name: Run tests

on:
  pull_request:
    branches: [ "master" ]

jobs:
  unittests:
    name: Test ${{ matrix.os }} Python ${{ matrix.python-version }} ${{ matrix.tests }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        QT_API: ["pyqt5", "pyside6"]
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        tests: ["", "-m slow", "-m gui"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .
        python -m pip install pytest
        python -m pip install pytest-qt
    - name: Install system dependencies for PySide6
      if: ${{ matrix.QT_API == 'pyside6' }}
      run: |
        sudo apt-get update
        sudo apt-get install -y libegl1 libopengl0
    - name: Run tests with pytest
      env:
        QT_API: ${{ matrix.QT_API }}
      run: |
        export QT_QPA_PLATFORM=offscreen
        python -m pytest ${{ matrix.tests }}
